{*<!--
/*********************************************************************************
** The contents of this file are subject to the vtiger CRM Public License Version 1.0
 * ("License"); You may not use this file except in compliance with the License
 * The Original Code is:  vtiger CRM Open Source
 * The Initial Developer of the Original Code is vtiger.
 * Portions created by vtiger are Copyright (C) vtiger.
 * All Rights Reserved.
*
 ********************************************************************************/
-->*}

{strip}
{include file="Header.tpl"|vtemplate_path:$MODULE}
{include file="BasicHeader.tpl"|vtemplate_path:$MODULE}

<div class="bodyContents" style='min-width:1200px'>
	<div class="mainContainer row-fluid">
		<div class="span2 row-fluid">
			{include file="ListViewSidebar.tpl"|vtemplate_path:$MODULE}
		</div>
		<div class="contentsDiv span10 marginLeftZero">
			{include file="ListViewHeader.tpl"|vtemplate_path:$MODULE}

{/strip}