* { margin: 0; padding: 0; }
html { height: 100%; font-family: verdana, sans-serif; }

body { font-size: 55%; background: #fff; }

#breadcrumb{
    float: left;
    display: block;
    width:100%;
    box-sizing: border-box;
}
#breadcrumb ul.crumbs{ 
    list-style: none;
    margin: 0 2%;
    text-align: center;
}
.crumbs li { 
    display: inline-block;
    line-height:47px;
    text-align: left;
    margin-left: -5%;
    background-image: url('../img/tabs2.png'); 
    background-repeat: no-repeat; 
    background-position: 100% -10px; 
    position: relative;
    height:46px;
    width: 24%;
    min-width: 150px;
}
.crumbs li.first{ 
    border-left: 1px solid #b1b1b1;
    margin-left: 0;
    width:23%;
}
.crumbs li.last{ 
    border-right: 1px solid #b1b1b1;
    background-position: 80% -10px;
    width:23%;
}
.crumbs li.last.active { 
    border-right: 1px solid #b1b1b1;
    background-position: 80% -126px;
}
.crumbs li.active,.crumbs li.active:hover{ 
    border-right: 1px solid #b1b1b1;
    background-position: 100% -126px;
    border-right: 0;
}
.crumbs li.active a,.crumbs li.active:hover a{
    color: #FFF;
}
.crumbs li:hover { 
    background-position: 100% -70px; 
    position: relative;
}
.crumbs li.last:hover{
    background-position: 80% -70px; 
}
.crumbs li.last.active:hover{
    background-position: 80% -126px;
    border-right: 1px solid #b1b1b1;
}
.crumbs li a { 
    padding-left: 15%;
    color: #3f3f3f;
}
.crumbs li.first a {
    padding-left: 20px;
}
.stepText {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    font-size: 1em;
    font-weight: bold;
}
.active .stepNum{
    color: #fff;
}
.stepNum{
    display: inline-block;
    padding-bottom: 1px;
    padding-right: 10px;
	padding-left: 8px;
    overflow: hidden;
    font-size: 1.7em;
    width: 5%;
    color: #3399ff;
}
